@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;500;700;900&display=swap');



/* Wild card selector (default) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* General styles */
body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    /* Generic project styles */
    color: #ffffff;

}


/* header */

header {
    background-color: #ECCA9E;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;

}

header a {
    text-decoration: none;
    color: #ffffff;
}


.logo {
    font-size: 250%;
    padding: 0 1rem;

}

.active {
    border-bottom: 1px solid #ffffff;
}

.menu {
    font-size: 90%;
    letter-spacing: 2px;
    list-style-type: none;
    
}

.menu li {
    padding: 10px;
    text-transform: uppercase;
    text-align: right;

}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

/* Navbar styles with dropdown toggle */

nav {

    background-color: #ECCA9E;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    display: none;
    top: 100%;
    
    
}




/* Nav Toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2em;
    color: #ffffff;
    font-weight: 100;
    

}


/* main content */

main {
    background-color: #FFECE3;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    color: #B17560;

}

.banner {
    text-align: center;
    padding: 20px 5px;
}

.banner h2 {
    padding-top: 20px;
}

.banner > p {
    padding-top: 20px;
    padding-bottom: 30px;
}

button {
    width: 200px;
    padding: 12px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid #fff;
    background: transparent; 
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: larger;
    font-weight: 500;
    text-transform: uppercase;
}

button > a {
    text-decoration: none;
    color: #B17560;
}

button:hover {
    border: 2px solid #B17560;
    
}

.creator-img > img {
    width: 90%;
    height: auto;
    padding-left: 25px;
    padding-top: 30px;
    max-width: 768px

}

.creator-letter {
    text-align: center;
}

.creator-letter > h2 {
    padding: 20px 10px;
}






/* Footer */

footer {
    background-color: #B17560;

}

footer ul {
    text-align: right;
    width: 55%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-size: larger;

}

footer ul li {
    list-style-type: none;
}

footer ul a {
    color: #FFECE3;
    font-size: 2em;
}




/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* Header */

    header {
        padding: 10px;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        align-self: auto;
    }


  

    .menu {
        display: flex;
        
    }

    .menu > li {
        padding-left: 1em;
    }

    .nav-toggle-label {
        display: none;
    }

   

 /* Main Content */

    main {
        padding-top: 25px;
    }

    #creator-section {
        display: flex;
        flex-direction: row;
    }



}