@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;500;700;900&display=swap');



/* Wild card selector (default) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* General styles */
body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    /* Generic project styles */
    color: #ffffff;

}


/* Header */

header {
    background-color: #ECCA9E;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    gap: 5%;
    

}

header a {
    text-decoration: none;
    color: #ffffff;
}


.logo {
    
    padding: 0 4px;
    height: fit-content;
    width: 60px;
    max-width: 200px;

}







#active {
   /* border-bottom: 1px solid #ffffff; */
   color: #B17560;
}



.menu {
    font-size: 60%;
    letter-spacing: 1px;
    list-style-type: none;
    display: flex;
    
}

.menu li {
    padding: 5px;
    text-transform: uppercase;
    

}

.menu a {
    text-decoration: none;
    color: #ffffff;
}





/* Navbar styles with dropdown toggle -- not sure if we will bother with this burger icon!!!

nav {

    background-color: #ECCA9E;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    display: none;
    top: 100%;
    
    
}




/* Nav Toggle 

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2em;
    color: #ffffff;
    font-weight: 100;
    

}  */


/* Main content */

main {
    background-color: #FFECE3;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    color: #B17560;

}



/* Banner */

.banner {
    text-align: center;
    background-image: url(../images/pp1-books-2.avif);
    padding: 8% 10px;
    color: #fff;
}

.banner h2 {
    padding-top: 20px;
}

.banner > p {
    padding-top: 20px;
    padding-bottom: 30px;
}



/* Button */

button {
    width: 200px;
    padding: 12px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid #fff;
    background: transparent; 
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: larger;
    font-weight: 500;
    text-transform: uppercase;
}

button > a {
    text-decoration: none;
    color: #fff;
}

button:hover {
    border: 2px solid #B17560;
    
}


/* Creator Letter Section */

.creator-img > img {
    width: 88%;
    height: auto;
    padding-left: 25px;
    padding-top: 30px;
    max-width: 500px;
    
}

.creator-letter {
    text-align: center;
}

.creator-letter > h2 {
    padding: 20px 10px;
}

.creator-letter > p {
    padding: 15px;
    line-height: 30px;
}



/* Quote */

#quote {
    background-color: #000;
    color: #FFECE3;
    padding: 15px;
}

#quote > h2 {
    text-align: center;
    text-transform: uppercase;
    justify-content: space-between;
}






/* Footer */

footer {
    background-color: #B17560;

}

footer ul {
    
    display: flex;
    justify-content: center;
    padding: 20px 0;

}

footer ul li {
    list-style-type: none;
    padding: 0 15px;
}

footer ul a {
    color: #FFECE3;
    font-size: 2em;
}




/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    

    body {
        font-size: 125%;
    }
    
    
    /* Header */

    header {
        
        gap: 45%;

    }

    .logo {
        width: 85px;
        padding-left: 10px;
    }

    .menu {
        font-size: 75%;

    }

    .menu li {
        padding-right: 10px;
    }
   
    /* Main Content */

    


    .banner {
        padding: 100px;
    }

    #creator-section {
        display: flex;
        flex-direction: row;
        
        padding: 5%;
    }

    .creator-letter {
        width: 50%;
    }

    .creator-letter > p {
        padding: 0;
        line-height: 30px;
    }

    

    .creator-img {
        width: 50%;
    }

    


    /* Footer */

    footer ul {
        text-align: right;
        width: 55%;
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        font-size: larger;
    
    }



}



/* Media query: tablets and larger (1024px and up) */

@media screen and (min-width: 1024px) {

    header {
        gap: 55%;

    }

    .menu li {
        padding-left: 15px;
        letter-spacing: 2px;
    }

    .logo {
        padding: 0;
    }


    .creator-letter > p {
        line-height: 45px;
    }


}



/* Media query: tablets and larger (1280px and up) */

@media screen and (min-width: 1280px) {

    header {
        gap: 65%;
    }

    

    #creator-section {
        gap : 10px;
    }

    .creator-letter > p {
        line-height: 60px;
        padding-top: 50px;
    }


 

}