/* Google Fonts Link */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;500;700;900&display=swap');

/* Wild card selector */

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Montserrat', sans-serif;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */

header {
    background-color: #deb37b;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 5px 0;
    position: fixed;
    z-index: 99;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    padding: 0 4px;
    height: auto;
    width: 60px;
    max-width: 170px;
    max-height: 200px;
}

#active {
    color: #B17560;
}


.menu {
    font-size: 68%;
    letter-spacing: 1px;
    list-style-type: none;
    display: flex;
}

.menu li {
    margin: 0 5px;
    display: inline-block;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

.menu a:hover {
    color: #B17560;
}

/* Main content */

main {
    background-color: #FFECE3;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    color: #B17560;
    margin-top: 55px;
}

/* Banner */

.banner {
    text-align: center;
    /* This code needs a credit to youtube video - same as buttons and nav */
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/bg-image-7.avif);
    color: #FFECE3;
    padding: 35px 0;
}

.banner h2 {
    margin: 15px;
    letter-spacing: .5px;
    line-height: 35px;
    font-weight: 600;
}

.banner>p {
    line-height: 25px;
}

/* Button */

button {
    width: 200px;
    padding: 12px 0;
    text-align: center;
    margin: 10px 5px;
    border-radius: 25px;
    border: 2px solid #FFECE3;
    background: transparent;
    color: #FFECE3;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: larger;
    font-weight: 500;
    text-transform: uppercase;
}

button>a {
    text-decoration: none;
    color: #FFECE3;
}

button:hover {
    border: 2px solid #B17560;
}

button a:hover {
    color: #B17560;
}

/* Creator Letter Section */

#creator-section {
    margin: 20px 0;
}

.creator-img>img {
    width: 85%;
    height: auto;
    max-width: 500px;
    margin-left: 20px;
    margin-top: 30px;
    padding-bottom: 10px;
}

#creator-img-3 {
    display: none;
}

.creator-letter {
    text-align: center;
    padding: 0 12px;
}

.creator-letter>h2 {
    padding: 20px 0;
}

.creator-letter>p {
    line-height: 30px;
    margin: 10px 5px;
}

/* Quote */

#quote {
    background-color: #000;
    color: #FFECE3;
    text-align: center;
}

#quote>h2 {
    text-transform: uppercase;
    justify-content: space-between;
    padding: 10px 0;
}

#quote>p {
    line-height: 35px;
    padding-bottom: 15px;
}

#quote p a {
    color: #ECCA9E;
    text-decoration: none;
}

#quote p a:hover {
    color: #B17560;
}

/* Footer */

footer {
    background-color: #B17560;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 2%;
}

footer ul li {
    list-style-type: none;
    padding: 0 15px;
}

footer ul a {
    color: #FFECE3;
    font-size: 1.5em;
}


/* Media Page */

#media-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/pp1-books-2.avif);
    padding: 20px;
    color: #FFECE3;
    text-align: center;
}

#media-banner-nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

#media-banner-nav ul li {
    text-align: center;
    list-style: none;
}

#media-banner-nav a {
    text-decoration: none;
    color: #FFECE3;
}

#media-banner-nav a:hover {
    color: #B17560;
}

.media-banner-content {
    padding: 30px;
}

.media-banner-content p {
    margin: 20px 0;
    text-align: left;
}

.media-box {
    padding: 10px 0;
    font-size: 70%;
    letter-spacing: 1px;
    line-height: 25px;
}

.media-description {
    margin: 20px;
}

.media-description h2 {
    text-align: center;
}

.media-img {
    max-width: 200px;
}

.bg-contrast {
    background-color: #f0cfc0;
    color: #9f644f;
    margin: 30px;
}

/* Community Page */

#community {
    text-align: center;
}

.community-section {
    padding: 30px 0;
}

/* Community Picks */

#community-picks {
    background-color: #f0cfc0;
    background-image: url("../images/")
}

.community-img>img {
    max-width: 200px;
}

/* Book Club */

#book-club {
    background-color: #B17560;
    color: #fff;
}

#map>img {
    max-width: 200px;
}

.book-club>div {
    font-size: 75%;
    padding: 10px;
    margin: 10px;
}

.club-details li {
    list-style: none;
    padding-bottom: 10px;
}

/* Form */

form>div {
    margin-bottom: 15px;
}

#form {
    display: flex;
    justify-content: center;
}

.form-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/pp1-books-2.avif);
    padding: 40px 10px;
    color: #FFECE3;
}

.form-banner h2 {
    margin-top: 20px;
    padding: 20px 7px;
    text-align: center;
}

#form-box {
    padding: 15px 5px;
    background-color: #f0cfc0;
    max-width: 420px;
    color: #9f644f;
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 75%;
    font-weight: 500; 
    border-radius: 2%;
}

label>span, #radio>p>span {
    color: #ffffff;
    font-size: larger;
}

#radio>p {
    margin-bottom: 10px;
}

input[type=text], input[type=number], input[name=email] {
    background-color: #FFECE3;
    padding: 5px;
    border: none;
    color: #9f644f;
    margin-bottom: 10px;
    border-radius: 1%;
    letter-spacing: 2px;
}

textarea {
    height: 85px;
    width: 233px;
    background-color: #FFECE3;
    color: #9f644f;
    border: none;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 25px;
    border-radius: 3%;
}

input[type=submit], input[type=reset] {
    color: #9f644f;
    background-color: #FFECE3;
    border: none;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5%;
}

input[type=submit]:hover, input[type=reset]:hover {
    color: #FFECE3;
    background-color: #9f644f;
}


/* Media query: larger phone screens (350px and up) */

@media screen and (min-width: 350px) {

    /* Header */

    .menu a {
        font-size: larger;
    }

    /* Main Content */

    .banner {
        padding: 40px 10px;
    }

    .banner>h2 {
        padding-top: 30px;
    }

    .banner>p {
        margin: 25px 0;
    }

    .creator-img {
        margin-left: 12px;
    }

    .creator-letter {
        padding: 15px;
    }

    #quote {
        padding: 15px;
    }
}


/* Media query: landscape phone screen and small tablet (650px and up) */

@media screen and (min-width: 650px) {

    /* Header */

    .menu li {
        margin-right: 12px;
    }

    /* Main Content */

    .banner {
        padding: 15px 70px;
    }

    /* Creator Section */

    #creator-section {
        display: flex;
        justify-content: center;
    }

    .creator-img {
        width: 50%;
        /* margin-top: 50px; */
    }

    #creator-img-3 {
        display: block;
    }

    .creator-letter {
        width: 50%;
        font-size: 80%;
    }

    #quote>p {
        padding: 20px 50px;
        font-size: 75%;
    }

    /* Footer */

    footer ul {
        text-align: right;
        width: 55%;
        margin: auto;
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: larger;
    }

    /* Media page */
}

/* Media query: tablets and larger (700px and up) */

@media screen and (min-width: 700px) {

    /* Creator-Section */

    #creator-img-3 {
        display: none;
    }
}


/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* Header */

    .logo {
        width: 85px;
    }

    .menu {
        font-size: 75%;
    }

    .menu li {
        margin-bottom: 5px;
        margin-right: 15px;
    }

    /* Main Content */

    main {
        margin-top: 75px;
    }

    /* Home Banner */

    .banner {
        padding: 55px;
    }

    .banner>h2 {
        line-height: 45px;
    }

    .banner>p {
        padding-bottom: 15px;
        line-height: 35px;
    }

    /* Creator Section */

    .creator-letter {
        width: 50%;
    }

    .creator-letter>p {
        line-height: 35px;
        font-size: 85%;
        letter-spacing: 1px;
    }

    .creator-img {
        width: 50%;
        margin: 20px 0;
    }

    #creator-img-3 {
        display: none;
    }

    /* Media Page*/

    .media-description {
        font-size: 70%;
    }

    .media-box {
        display: flex;
    }

    /* Community */


    /* Book Club */

    #book-club {
        padding: 20px;
    }

    .map>img {
        max-width: 370px;
    }

    .book-club {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
    }

    .club-box {
        width: 30%;
    }

    /* Community Picks */

    .community-picks {
        display: flex;
        justify-content: space-evenly;
    }

    .community-picks>div {
        width: 30%;
    }

    /* Events */

    
}


/* Media query: tablets and larger (850px and up) */

@media screen and (min-width: 850px) {

    .creator-letter>p {
        line-height: 50px;
        font-size: 100%;
    }
}



/* Media query: large tablets and laptop (992px and up) */

@media screen and (min-width: 992px) {

    /* Header */

    .menu li {
        letter-spacing: 5px;
    }

    .logo {
        padding: 0;
        margin-left: 5px;
    }

    /* Main Content */

    main {
        margin-top: 85px;
    }

    /* Home Banner */

    .banner {
        padding-top: 90px;
        letter-spacing: 3px;
    }

    .banner>h2 {
        letter-spacing: 3px;
        line-height: 45px;
    }

    button {
        margin: 40px 10px;
        padding: 10px 0;
    }

    /* Creator Section */

    #creator-img-2 {
        display: none;
    }

    .creator-letter>p {
        line-height: 30px;
        
    }

    #letter-signoff {
        margin-top: 50px;
    }

    #quote>p {
        line-height: 40px;
    }

    /* Media page */

    /* Form Page */

    /* Form Banner */


}


/* Media query: large tablet and laptop (1024px and up) */

@media screen and (min-width: 1024px) {

    /* Header */

    .menu a {
        font-weight: 300;
    }

    /* Main Content */

    /* Home Banner */

    .banner>h2 {
        line-height: 55px;
    }

    /* Media Page */

    #media-banner {
        padding: 100px;
    }

    .media-box {
        margin: 25px;
        font-size: 90%;
    }

    .media-description {
        max-width: 400px;
        font-size: 60%;
        letter-spacing: 1px;
    }

    .media-description>a {
        display: none;
    }

    .large-display {
        display: flex;
        justify-content: space-evenly;
    }

    /* Community */

    /* Events */

    .events>.large-display>div {
        width: 40%;
        margin: 50px;
    }
}


/* Media query: large laptop and desktop (1280px and up) */

@media screen and (min-width: 1280px) {

    body {
        font-size: 110%;
    }

    /* Header */

    .logo {
        margin-left: 10px;
    }

    .menu a {
        font-weight: 300;
        margin-right: 15px;
    }

    /* Nav hover styles - DONT FORGET TO ADD CREDIT HERE AND IN README */

    nav ul li::after {
        content: '';
        height: 2px;
        width: 0;
        background: #B17560;
        position: absolute;
        left: 0;
        bottom: -3px;
        transition: 0.5s;
    }

    nav ul li:hover::after {
        width: 88.5%;
    }

    /* Main Content */

    main {
        margin-top: 85px;
    }

    /* Home Banner */

    .banner {
        padding: 100px;
    }

    .banner>h2 {
        letter-spacing: 5px;
    }

    .banner>p {
        padding: 0 100px;
    }

    /* Creator Section */

    #creator-section {
        margin: 0 50px;
        padding-top: 50px;
    }

    .creator-img {
        width: 50%;
    }

    .creator-letter>p {
        font-size: 95%;
    }

    #letter-signoff {
        padding: 0;
    }

    .creator-letter>p {
        line-height: 40px;
        
    }

    #creator-img-2 {
        display: none;
    }

    /* Media Page */

    .media-section {
        padding-top: 40px;
    }

    .media-box {
        margin-bottom: 50px;
    }

    .large-display {
        gap: 50px;
    }

    .media-description {
        max-width: 450px;
        max-height: 450px;
        overflow: auto;
    }

    /* Book Club */

    .club-box {
        
    }

    #map {
        background-color: #FFECE3;
    }

    #map>img {
        max-width: 400px;
    }

   
}

/* Media query: wide screen (1850px and up) */

@media screen and (min-width: 1500px) {

    /* Header */

    .logo {
        width: 100px;
    }

    .menu {
        font-size: 100%;
    }

    .banner {
        padding: 100px 200px;
    }



    /*Creator section */

    #creator-section {
        gap: 100px;
    }

    .creator-letter {
        margin-top: 120px;
    }

    .creator-img {
        max-width: 600px;
        padding-bottom: 50px;
    }

}