@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;500;700;900&display=swap');



/* Wild card selector */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}


/* Header */

header {
    background-color: #ECCA9E;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    gap: 1%;
    position: fixed;
    z-index: 99;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    padding: 0 4px;
    height: auto;
    width: 60px;
    max-width: 170px;
    max-height: 200px;
    
}

#active {
    color: #B17560;
}


/* Nav hover styles - DONT FORGET TO ADD CREDIT HERE AND IN README */

nav ul li::after{
    content: '';
    height: 1.7px;
    width: 0;
    background: #B17560;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 92%;
}

.menu {
    font-size: 60.5%;
    letter-spacing: 1px;
    list-style-type: none;
    display: flex;
    
}

.menu li {
    padding: 5px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}


/* Main content */

main {
    background-color: #FFECE3;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    color: #B17560;
}


/* Banner */

.banner {
    text-align: center;
    background-image: url(../images/bg-image-7.avif);
    padding: 10px;
    color: #fff;
}

.banner h2 {
    padding-top: 80px;
}

.banner>p {
    padding: 30px 10px;
}


/* Button */

button {
    width: 200px;
    padding: 12px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid #fff;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: larger;
    font-weight: 500;
    text-transform: uppercase;
}

button > a {
    text-decoration: none;
    color: #ffffff;
    
}

button:hover {
    border: 3px solid #c29585;
    
}





/* Creator Letter Section */

#creator-section {
    padding: 20px;
}

.creator-img > img {
    width: 85%;
    height: auto;
    max-width: 500px;
    padding-left: 30px;

}

.creator-letter {
    text-align: center;
}

.creator-letter>h2 {
    padding: 20px 0;
}

.creator-letter>p {
    
    line-height: 30px;
}


/* Quote */

#quote {
    background-color: #000;
    color: #FFECE3;
    padding: 15px;
    text-align: center;
}

#quote > h2 {
    
    text-transform: uppercase;
    justify-content: space-between;
    padding: 10px 0;
}

#quote > p {
    padding: 10px;
    line-height: 30px;
}

#quote p a {
    color: #ECCA9E;
    text-decoration: none;
}

#quote p a:hover {
    color: #B17560;
}


/* Footer */

footer {
    background-color: #B17560;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 2%;
}

footer ul li {
    list-style-type: none;
    padding: 0 15px;
}

footer ul a {
    color: #FFECE3;
    font-size: 1.5em;
}



/* Media query: larger phone screens (390px and up) */

@media screen and (min-width: 390px) {

    /* Header */

    header {
        gap: 18%;
        
        
    }
} 

/* Media query: larger phone screens (420px and up) */

@media screen and (min-width: 420px) {

    /* Header */

    header {
        gap: 30%;
          
    }
} 



/* Media query: landscape phone screen and small tablet (481px and up) */

@media screen and (min-width: 481px) {

    header {
        gap: 35%;
    }

    .creator-img {
        padding-left: 20px;
    }
}


/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    body {
        font-size: 125%;
    }


    /* Header */

    header {
        gap: 45%;
    }

    .logo {
        width: 85px;
        padding-left: 10px;
    }

    .menu {
        font-size: 75%;
    }

    .menu li {
        padding-right: 10px;
    }


    /* Main Content */

    .banner {
        padding: 100px;
    }

    #creator-section {
        display: flex;
        flex-direction: row;
        padding: 5%;
    }

    .creator-letter {
        width: 50%;
    }

    .creator-letter>p {
        padding: 0;
        line-height: 30px;
    }

    .creator-img {
        width: 50%;
    }


    /* Footer */

    footer ul {
        text-align: right;
        width: 55%;
        margin: auto;
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: larger;
    }
}


/* Media query: large tablets and laptop (992px and up) */

@media screen and (min-width: 992px) {

    header {
        gap: 45%;
    }

    .menu li {
        padding-right: 15px;
        letter-spacing: 5px;
    }

    .logo {
        padding: 0;
    }

    

    button {
        margin: 80px 10px;
        padding: 12px 3px;
    }

    .creator-letter>p {
        line-height: 45px;
    }

    #quote > p {
        padding: 50px 100px;
        line-height: 60px;
    }
}


/* Media query: large laptop and desktop (1280px and up) */

@media screen and (min-width: 1280px) {

    body {
        font-size: x-large;
    }

    header {
        gap: 55%;
    }

    .logo {
        width: 110px;
    }

    .banner {
        padding: 200px 0;
    }

    .banner>h2 {
        padding: 100px;
    }

    .banner>p {
        padding: 0 100px;
    }


    #creator-section {
        gap: 10px;
    }

    .creator-letter>p {
        line-height: 60px;
        padding-top: 50px;
    }
}