/* Google Fonts Link */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;500;700;900&display=swap');

/* Wild card selector */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */

header {
    background-color: #bd8d4d;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding: 5px 0;
    position: fixed;
    z-index: 99;
}

.logo {
    padding: 0 4px;
    height: auto;
    width: 60px;
    max-width: 150px;
    max-height: 200px;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

#active {
    color: #803e26;
}

.menu {
    font-size: 68%;
    letter-spacing: 1px;
    list-style-type: none;
    display: flex;
}

.menu li {
    margin: 0 5px;
    display: inline-block;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

.menu a:hover {
    color: #803e26;
}

/* Main content */

main {
    background-color: #FFECE3;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    color: #a25a40;
    margin-top: 55px;
}

/* Banner */

.banner {
    text-align: center;
    /* This code needs a credit to youtube video - same as buttons and nav */
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/home/home-banner.jpg);
    background-position: center; 
    color: #fff;
    padding: 60px 0;
    font-size: 85%;
}

.banner h2 {
    margin: 20px 5px;
    letter-spacing: .5px;
    line-height: 35px;
    font-weight: 600;
}

.banner>p {
    line-height: 25px;
    margin: 10px ;
}

/* Button */

button {
    width: 200px;
    padding: 12px 0;
    text-align: center;
    margin: 30px 5px;
    border-radius: 25px;
    border: 2px solid #FFECE3;
    background: transparent;
    color: #FFECE3;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: larger;
    font-weight: 500;
    text-transform: uppercase;
}

button>a {
    text-decoration: none;
    color: #FFECE3;
}

button:hover {
    border: 2px solid #f6ad93;
}

button a:hover {
    color: #f6ad93;
}

/* Creator Letter Section */

#creator-section {
    margin: 20px 0;
    padding: 20px 0;
}

.creator-img>img {
    width: 85%;
    height: auto;
    max-width: 500px;
    margin-left: 20px;
    margin-top: 30px;
    padding-bottom: 10px;
}

#creator-img-3 {
    display: none;
}

.creator-letter {
    text-align: center;
    margin: 10px;
    font-size: 80%;
    color: #803e26;
}

.creator-letter>h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid #803e26;
    padding-bottom: 20px;
}

.creator-letter>p {
    line-height: 25px;
    letter-spacing: 1px;
}

/* Quote */

#quote {
    background-color: #000;
    color: #FFECE3;
    text-align: center;
}

#quote>h2 {
    text-transform: uppercase;
    justify-content: space-between;
    padding: 10px 0;
}

#quote>p {
    line-height: 35px;
    padding-bottom: 5px;
    font-size: 80%;
    margin: 0 10px;
    padding-bottom: 20px;
}

#quote p a {
    color: #fac98a;
    text-decoration: none;
}

#quote p a:hover {
    color: #f4b6a0;
}

/* Footer */

footer {
    background-color: #B17560;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 2%;
}

footer ul li {
    list-style-type: none;
    padding: 0 15px;
}

footer ul a {
    color: #FFECE3;
    font-size: 1.5em;
}

/* Media Page */

.media-section>h2 {
    text-align: center;
    margin-top: 50px;
}

.media-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../images/media/media-banner.jpg);
    background-position: center;
    padding: 100px 0;
    color: #FFECE3;
    text-align: center;
}

.media-banner-nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 30px 15px;
    padding-top: 20px;
    border-top: 1px solid #FFECE3;
}

.media-banner-nav ul li {
    text-align: center;
    list-style: none;
    font-size: 75%;
}

.media-banner-nav a {
    text-decoration: none;
    color: #FFECE3;
}

.media-banner-nav a:hover {
    color: #bd8d4d;
}

.media-banner-content {
    padding: 0 5px;
    margin-top: 30px; 
    margin: 20px 5px;
    font-size: 85%;
}

.media-banner-content h2 {
    letter-spacing: .5px;
    line-height: 35px;
    font-weight: 600;
}

.media-banner-content p {
    margin: 20px 0;
}

.media-box {
    padding: 10px 0;
    font-size: 70%; 
    letter-spacing: 1px;
    line-height: 25px;
    background-color: #f4b6a0;
    border-radius: 2rem;
}

.media-description {
    background-color: #FFECE3;
    padding: 15px;
    margin: 10px;
    border-radius: 2rem;
}

.media-description h2 {
    text-align: center;
    margin: 20px 5px; 
}

.media-img {
    max-width: 200px;
    margin: 0 10px;
    border-radius: 2rem;
}

.bg-contrast {
    margin: 30px;
}

/* Community Page */

#community {
    text-align: center;
}

.community-section {
    padding: 30px 0;
}

/* Community Banner */

.community-banner {
    background-image: url(../images/community/community-banner.jpg);
    background-position: center;
    padding: 100px 0;
    color: #FFECE3;
}

.community-banner h2 {
    margin: 20px 0;
    letter-spacing: .5px;
    font-weight: 600;
    margin-bottom: 30px;
}

.community-banner p {
    margin: 10px;
}

.community-banner>nav {
    font-size: 75%;
    padding: 15px;
}

.community-banner>nav>ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 5px;
    border-top: 1px solid #FFECE3;
    padding-top: 20px;
}

.community-banner li {
    list-style: none;
}

.community-banner a {
    text-decoration: none;
    color: #FFECE3;
}

.community-banner a:hover {
    color: #bd8d4d;
}

/* Community Picks */

#community-picks {
    background-color: #FFECE3;
    background-image: url("../images/");
    color: #803e26;
}

.community-section h2 {
    padding: 25px ;
    margin: 30px ;
    border-bottom: 1px solid #a25a40;
}

.community-box {
    background-color: #f6ad93;
    margin: 20px 10px;
    border-radius: 2rem;
    color: #fff;
}

.community-img>img {
    max-width: 200px;
    margin-top: 20px;
    border-radius: 2rem;
}

.community-title {
    margin-top: 20px;
    font-size: 90%;
    padding: 10px 5px;
}

.community-title>h3 {
    font-weight: 500;
}

.community-title>h4 {
    padding-top: 10px;
    font-weight: 400;
}

/* Book Club */

#book-club {
    background-color: #be6e51;
    color: #fff;
}

#book-club-heading {
    border-bottom: 1px solid #FFECE3;
}

.club-box {
    font-size: 90%;
}

#map{
    width: 220px;
}

.book-club>div {
    font-size: 90%;
    padding: 10px;
    margin: 10px;
    letter-spacing: 1px;
}

.club-details ul {
    margin-top: 20px;
}

.club-details li {
    list-style: none;
    padding-bottom: 10px;
}

/* Event Section */

.event-box {
    margin-bottom: 70px;
}

.event-description {
    background-color: #f6ad93;
    color: #fff;
    margin: 20px 10px;
    padding: 20px ;
    border-radius: 2rem;
    line-height: 30px;
    letter-spacing: 1px;
}

.event-description h3, .event-description h4, .event-description h5 {
    margin-bottom: 20px;
    font-weight: 650;
} 

.event-img {
    width: 250px;
}

.event-description p {
    font-size: 80%;
    font-weight: 400;
}

/* Form */

form>div {
    margin-bottom: 15px;
}

#form {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.form-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/community/form-banner.jpg);
    padding: 40px 10px;
    color: #FFECE3;
    background-size: cover;
}

.form-banner h2 {
    margin-top: 20px;
    padding: 20px 7px;
    text-align: center;
    font-weight: 400;
}

#form-box {
    padding: 15px 5px;
    background-color: #f0cfc0;
    max-width: 420px;
    color: #9f644f;
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 75%;
    font-weight: 500; 
    border-radius: 2%;
}

label>span, #radio>p>span {
    color: #ffffff;
    font-size: larger;
}

#radio>p {
    margin-bottom: 10px;
}

input[type=text], input[type=number], input[name=email] {
    background-color: #FFECE3;
    padding: 5px;
    border: none;
    color: #9f644f;
    margin-bottom: 10px;
    border-radius: 1%;
    letter-spacing: 2px;
}

textarea {
    height: 85px;
    width: 233px;
    background-color: #FFECE3;
    color: #9f644f;
    border: none;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 25px;
    border-radius: 3%;
}

input[type=submit], input[type=reset] {
    color: #9f644f;
    background-color: #FFECE3;
    border: none;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5%;
}

input[type=submit]:hover, input[type=reset]:hover {
    color: #FFECE3;
    background-color: #9f644f;
}


/* Media query: larger phone screens (350px and up) */

@media screen and (min-width: 350px) {

    /* Header */

    .menu a {
        font-size: larger;
    }

    /* Main Content */

    .banner {
        padding: 40px 10px;
    }

    .banner>h2 {
        padding-top: 30px;
    }

    .banner>p {
        margin: 25px 0;
    }

    .creator-img {
        margin-left: 12px;
    }

    .creator-letter {
        padding: 15px;
    }

    #quote {
        padding: 15px;
    }
}


/* Media query: landscape phone screen and small tablet (650px and up) */

@media screen and (min-width: 650px) {

    /* Header */

    .menu li {
        margin-right: 12px;
    }

    /* Main Content */

    .banner {
        padding: 15px 70px;
    }

    /* Creator Section */

    #creator-section {
        display: flex;
        justify-content: center;
    }

    .creator-img {
        width: 50%;
        /* margin-top: 50px; */
    }

    #creator-img-3 {
        display: block;
    }

    .creator-letter {
        width: 50%;
        font-size: 80%;
        margin-top: 50px;
    }

    .creator-letter p {
        line-height: 30px;
    }

    /* Quote */

    #quote>p {
        padding: 20px 50px;
        font-size: 75%;
    }

    /* Footer */

    footer ul {
        text-align: right;
        width: 55%;
        margin: auto;
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: larger;
    }

    /* Community Page */

    /* Community Picks */

    .community-picks {
        display: flex;
        justify-content: space-evenly;
    }

    .community-picks>div {
        width: 30%;
    }

    .community-img>img {
        width: 80%;
    }

    /* Book Club */

    .book-club {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        font-size: 75%;
    }

    .club-box {
        width: 30%;
    }
}

/* Media query: tablets and larger (700px and up) */

@media screen and (min-width: 700px) {

    /* Creator-Section */

    #creator-img-3 {
        display: none;
    }
}


/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* Header */

    .logo {
        width: 85px;
    }

    .menu {
        font-size: 75%;
    }

    .menu li {
        margin-bottom: 5px;
        margin-right: 15px;
    }

    /* Main Content */

    main {
        margin-top: 75px;
    }

    /* Home Banner */

    .banner {
        padding: 55px;
    }

    .banner>h2 {
        line-height: 45px;
    }

    .banner>p {
        padding-bottom: 15px;
        line-height: 35px;
    }

    /* Creator Section */

    .creator-letter {
        width: 50%;
        margin-top: 30px;
    }

    .creator-letter>p {
        line-height: 35px;
        font-size: 85%;
        letter-spacing: 1px;
    }

    .creator-img {
        width: 50%;
        margin: 20px 0;
    }

    #creator-img-3 {
        display: none;
    }

    /* Media Page*/

   .media-banner {
        font-size: 100%;
   }

    .media-description {
        font-size: 70%;
    }

    .media-box {
        display: flex;
        margin: 50px;
        padding: 30px ;
        align-items: center;
    }

    /* Community */

     /* Community Picks */

     .community-picks {
        display: flex;
        justify-content: space-evenly;
    }

    .community-picks>div {
        width: 30%;
    }

    /* Book Club */

    #book-club {
        padding: 20px;
    }

    
    .book-club {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
    }

    .club-box {
        width: 30%;
    }

    .description p {
        line-height: 20px;
    }


    /* Event Section */

    .event-img {
        width: 400px;
    }

    /* Form */

    .form-banner{
        padding-bottom: 100px;
    }

    .form-banner>h2 {
        padding: 20px 0;
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 170%;
    }

    #form-box {
        padding: 20px;
        line-height: 35px;
    }

    #contact-info {
        margin-top: 15px;
    }

    input[type=radio] {
        margin: 0 7px;
    }

    textarea {
        width: 300px;
        height: 100px;
        margin-top: 20px;
    }
}


/* Media query: tablets and larger (820px and up) */

@media screen and (min-width: 820px) {

    .creator-letter {
        margin-top: 50px;
    }

    .creator-letter>p {
        font-size: 90%;
        line-height: 40px;
    }
}


/* Media query: large tablets and laptop (992px and up) */

@media screen and (min-width: 992px) {

    /* Header */

    .menu li {
        letter-spacing: 5px;
    }

    .logo {
        padding: 0;
        margin-left: 5px;
    }

    /* Main Content */

    main {
        margin-top: 85px;
    }

    /* Home Banner */

    .banner {
        padding-top: 90px;
        letter-spacing: 3px;
    }

    .banner>h2 {
        letter-spacing: 3px;
        line-height: 45px;
    }

    button {
        margin: 40px 10px;
        padding: 10px 0;
    }

    /* Creator Section */

    #creator-img-2 {
        display: none;
    }

    .creator-letter>p {
        line-height: 30px;   
    }

    .letter-signoff {
        margin-top: 25px;
    }

    #quote>p {
        line-height: 40px;
    }
}


/* Media query: large tablet and laptop (1024px and up) */

@media screen and (min-width: 1024px) {

    /* Header */

    .menu a {
        font-weight: 300;
    }

    /* Main Content */

    /* Home Banner */

    .banner>h2 {
        line-height: 55px;
    }

    /* Creator Section */

    #creator-section {
        gap: 20px;
    }

    .creator-letter {
        margin-top: 90px;
    }

    /* Media Page */

    .media-banner {
        padding: 100px;
    }

    .media-box {
        margin: 25px;
        font-size: 90%;
        justify-content: center;
        margin: 100px;
        padding: 50px 0;
        align-items: center;
    }

    .media-description {
        max-width: 400px;
        font-size: 60%;
        letter-spacing: 1px;
        padding: 20px;
    }

    .media-description>a {
        display: none;
    }

    /* Community */

    .community-banner {
        padding: 100px;
    }

    /* Events */

    .event-box {
        margin-bottom: 120px;
    }

    .event-description {
        margin: 70px 150px;
    }

    
    /* Form */

    .form-banner>h2 {
        font-weight: 400;
        font-size: 200%;
    }

    #contact-info {
        line-height: 50px;
    }
}


/* Media query: large laptop and desktop (1280px and up) */

@media screen and (min-width: 1280px) {

    body {
        font-size: 110%;
    }

    /* Header */

    .logo {
        margin-left: 10px;
    }

    .menu a {
        font-weight: 400;
        margin-right: 15px;
    }

    /* Nav hover styles - DONT FORGET TO ADD CREDIT HERE AND IN README */

    nav ul li::after {
        content: '';
        height: 2px;
        width: 0;
        background: #803e26;
        position: absolute;
        left: 0;
        bottom: -3px;
        transition: 0.5s;
    }

    nav ul li:hover::after {
        width: 88.5%;
    }

    /* Main Content */

    main {
        margin-top: 85px;
    }

    /* Home Banner */

    .banner {
        padding: 100px;
    }

    .banner>h2 {
        letter-spacing: 5px;
    }

    .banner>p {
        padding: 0 100px;
    }

    /* Creator Section */

    #creator-section {
        margin: 0 50px;
        gap: 50px;   
    }

    .creator-img {
        width: 50%;
        margin: 50px 0;
    }

    .creator-letter>p {
        font-size: 95%;
        line-height: 40px;
    }

    #letter-signoff {
        padding: 0;
    }

    #creator-img-2 {
        display: none;
    }

    /* Media Page */

    .media-banner, .community-banner {
        font-size: 140%;
        padding: 140px;
    }

    .media-section {
        padding-top: 40px;
    }

    .media-box {
        margin: 100px 200px;
    }
    
    /*
    .large-display {
        display: flex;
        justify-content: space-evenly;
        gap: 50px;
    } */

    .media-description {
        font-size: 85%;
        padding: 50px;
    }

    /* Community Page */

    /* Book Club */

    .book-club {
        align-items: center;
    }

    .book-club> div {
        font-size: 100%;
    }

    #map {
        width: 400px;
    } 
}

/* Media query: wide screen (1550px and up) */

@media screen and (min-width: 1500px) {

    /* Header */

    .logo {
        width: 100px;
    }

    .menu {
        font-size: 100%;
    }

    /* Main */

    .banner {
        padding: 120px;
    }

    /*Creator section */

    #creator-section {
        gap: 100px;
    }

    .creator-letter {
        margin: 130px 0;
    }

    .creator-letter>p {
        font-size: 110%;
        line-height: 45px;
    }

    .creator-img {
        max-width: 600px;
        margin-bottom: 50px;
    }

    #quote p {
        font-size: 70%;
        margin: 20px 100px;
    }

    .media-banner {
        padding: 175px;
    }

    .community-banner {
        padding: 175px;
    }
}

/* Media query: wide screen (1900px and up) */

@media screen and (min-width: 1900px) {

    /* Home Page Main */

    .banner {
        padding: 175px;
    }

    .banner h2 {
        font-size: 200%;
    }

    .creator-letter {
        margin-top: 150px;
    }

    #quote p {
        font-size: 100%;
    }

    #quote h2 {
        font-size: 200%;
    }

    /* Media Page */

    .media-banner, .community-banner {
        padding: 200px;
    }

    .media-banner h2, .community-banner h2 {
        font-size: 200%;
    } 
}