@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;500;700;900&display=swap');



/* Wild card selector (default) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #ffffff;

}


/* header */

header {
    background-color: #ECCA9E;
    display: flex;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: #ffffff;
}


.logo {
    font-size: 250%;
    padding: 0 1rem;

}

.active {
    border-bottom: 1px solid #ffffff;
}

.menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

.menu li {
    padding-bottom: 10px;
    text-transform: uppercase;

}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

/* Navbar styles with dropdown toggle */

nav {

    background-color: #ECCA9E;
    display: flex;
    align-items: baseline;
    ;
    width: 100%;
    left: 0;
    justify-content: space-between;
    display: none;
    top: 100%;
    padding: 10px;
    font-size: smaller;
}

/* Nav Toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2em;
    color: #ffffff;

}


/* main content */

main {
    background-color: #FFECE3;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    color: #B17560;

}





}

/* Footer */

footer {
    background-color: #B17560;

}




/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* Header */

    header {
        padding: 10px;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        text-align: right;
    }

    .menu {
        display: flex;
        padding-left: 15em;
    }

    .menu > li {
        padding-left: 1em;
    }

    .nav-toggle-label {
        display: none;
    }







    /* Main Content */

    main {
        padding-top: 25px;
    }

    #creator-section {
        display: flex;
        flex-direction: row;
    }



}